@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@3wght@200..700&display=swap');
body{
    background-color: #E5E5E5;
    font-family: 'Poppins', sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 40px;
}
.logo-container img{
    height: 60px;
}
.logo-container h2{
    color: #241966;
    font-size: 25px;
    font-weight: 900;
}
.header-nav-links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-nav-links a{
    font-size: 20px;
    color: #241966;
    margin-right: 50px;
    text-decoration: none;
    transition: all 1s ease-in-out;
}
.mobile-menu{
    display: none;
    margin-right: 20px;
}
.header-nav-links-mobile{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 9;
    position: fixed;
    background-color: #e5e5e5;
    top: 0;
    left: 0;
}
.header-nav-links-mobile a{
    text-decoration: none;
}
.header-nav-links .active{
    background-color: #4434A7;
    padding: 5px;
    border-radius: 50px;
}
a.active{
    color: white;
}
.header-nav-links-mobile .active{
    background-color: #4434A7;
    width: 100%;
    text-align: center;
    padding: 5px;
}
.header-nav-links-mobile a{
    font-size: 30px;
    margin-top: 20px;
}
.close-btn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    height: 50px;
    border-radius: 100%;
}
.clubEvents{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.clubEvents-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}
.clubEvents-container h2{
    letter-spacing: 5px;
    font-weight: 500;
    color: #9089BD;
}
.clubEvents-container h1{
    font-size: 40px;
    font-weight: 800;
    color: #241966;
}
.line-style{
    position: absolute;
    margin-left: 110px;
    margin-top: -38px;
}
.search{
    display: flex;
    justify-content: center;
    width: 30%;
}
.search-bar{
    background-color: #E2DDFF;
    border: 2px solid #241966;
    border-radius: 5px;
    padding: 8px;
    width: 100%;
    font-weight: 600;
    margin-right: 10px;
}

.filter-btn{
    background-color: #A99DF3;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
}
.clubEvents-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.clubEvents-card{
    background-color: white;
    border: 1.5px solid black;
    border-radius: 20px;
    margin: 30px;
    width: 350px;
    height: auto;
    padding: 15px;

}
.clubEvents-sub-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #E2DDFF;
    border-radius: 20px;
    padding: 5px;

}
.clubEvents-sub-card h1{
    letter-spacing: 5px;
    font-weight: 500;
}
.Tags{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Tags h3{
    font-size: 15px;
    font-weight: 500;
}
@media only screen and (max-width: 1100px) {
    .header-nav-links a{
        display: none;
    }
    .logo-container img{
        margin-left: -30px;
    }
    .logo-container h2{
        display: none;
    }
    .mobile-menu{
        display: flex;
        height: 25px;
    }
    .clubEvents-container{
        display: flex;
        flex-direction: column;
    }
    .search{
        margin-top: 50px;
        margin-bottom: 50px;
        width: 80%;
    }
    .search-bar{
        width: 100%;
    }
    .clubEvents-card{
        width: 200px;
    }
}