
.home {
  display: flex !important;
  flex-direction: row !important;
}

.about {
  width: 100%;
}

.about-p1 {
  font-size: 1rem;
}

h1 {
  font-weight: 400;
  
}

.home-container {
  margin-top: 7% !important;
  text-align: left;
}

.contact-heading {
  margin-bottom: 40px;
}

.contact-img {
  height: 80px;
  width: 80px;
}

.contactUs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contactUs > image {
  padding: 20px;
}
