.logo {
    padding-top: 5px;
    padding-left: 100px;
  }
  .logo img {
    width: 80px;
    height: 82px;
  }
  .navbar-nav {
    font-size: 18px;
    padding-right: 50px;
  }
  .navbar {
    background-color: #d8d9f5;
    padding-left: 100px;
  }
  .nav-link {
    color: black;
    font-weight: 400;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    bottom: 5px;
    margin-top: 5px;
  }

@media screen and (max-width: 575px) {
    .navbar {
      padding-left: 0;
    }
    .navbar-nav {
      padding-right: 0;
    }
  }
