/* @media screen and (min-width: 580px) {
    body{
        background:#e8e8e8;
    }
    #forgot{
        -webkit-box-shadow: 2px 7px 38px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 7px 38px -4px rgba(0,0,0,0.75);
  box-shadow: 2px 7px 38px -4px rgba(0,0,0,0.75);
  border-radius:30px;
    }
  }
#forgot {
  background:white;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  max-width: 600px;
  
  margin: auto auto;
  margin-top: 80px;
  
}
h1{
    font-size: 3.4em;
    color: #834F80;
}

input {
  margin: 10px auto;
  padding: 16px;
  border-radius: 10px;
  font-size: 1.1em;
}
.btn {
  width: 70%;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.1em;
  background:  #834F80;;
} */